<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback Configuration.  -->
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoding>UTF8</encoding>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
[%d{yyyy-MM-dd HH:mm:ss}] [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}, sid=%X{log_user_key}]  %-5level %logger{35} - %m%n
            ]]></pattern>
        </layout>
    </appender>



    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.logger.dir}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${app.logger.dir}/app.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoding>UTF8</encoding>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${app.logger.level}</level>
        </filter>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
[%d{yyyy-MM-dd HH:mm:ss}] [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}, sid=%X{log_user_key}]  %-5level %logger{35} - %m%n
            ]]></pattern>
        </layout>
    </appender>

    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.logger.dir}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${app.logger.dir}/error.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoding>UTF8</encoding>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
[%d{yyyy-MM-dd HH:mm:ss}] [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}, sid=%X{log_user_key}]  %-5level %logger{35} - %m%n
            ]]></pattern>
        </layout>
    </appender>

    <appender name="SQL-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.logger.dir}/sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${app.logger.dir}/sql.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoding>UTF8</encoding>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${app.logger.level}</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
[%d{yyyy-MM-dd HH:mm:ss}] [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}, sid=%X{log_user_key}]  %-5level %logger{35} - %m%n
            ]]></pattern>
        </layout>
    </appender>

    <logger name="org.apache">
        <level value="warn" />
    </logger>




    <logger name="guda.mvcx">
        <level value="${app.logger.level}" />
    </logger>
    <logger name="druid">
        <level value="${app.logger.level}" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SQL-FILE" />
    </logger>

    <root>
        <level value="${app.logger.level}" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ERROR-FILE" />
    </root>




</configuration>
