<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--<properties resource="jdbc.properties" />-->

    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>

    <typeAliases>
        <typeAlias type="guda.mvcx.demo.dao.model.BlogDO" alias="blogDO"></typeAlias>
        <typeAlias type="guda.mvcx.demo.dao.model.UserDO" alias="userDO"></typeAlias>
    </typeAliases>


    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC" />
            <dataSource type="guda.mvcx.core.ext.DruidDataSourceFactory">
                <property name="driverClass" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/demo?useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull&amp;transformedBitIsBoolean=true" />
                <property name="username" value="demo_user" />
                <property name="password" value="demo_pwd" />
                <property name="validationQuery" value="select now()" />
                <property name="testWhileIdle" value="true" />
                <property name="testOnBorrow" value="false" />
                <property name="testOnReturn" value="false" />
                <!--<property name="filters" value="slf4j" />-->
                <property name="poolPreparedStatements" value="false" />
                <property name="maxOpenPreparedStatements" value="-1" />
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper resource="mapper/userDAO.xml" />
        <mapper resource="mapper/blogDAO.xml" />
    </mappers>

</configuration>